/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

$primary:  #282d49;
$secondary:  #485393;
$black:  #223242;

.p0 {
    padding: 0;
}

.prl-5 {
    padding-right: 5px!important;
    padding-left: 5px!important;
}

.mb-10 {
    margin-bottom: 10px!important;
}

.mt-10 {
    margin-top: 10px!important;
}

.f_white {
    color: #FFF!important;
}

body {
    margin: 0;
    font-family: 'Montserrat', 'sans-serif';
    scroll-behavior: smooth;
    background: #F8F8F8;
}

.g-container {
    width: 75%;
    margin: 0 auto;
}

.product-section {
    margin: 10vh 0; 
    background-color: #FFF;
    padding: 2rem;
}

.table-product {
    width: 100%;
    thead {
        border-bottom: 1px solid #F8F8F8; 
    }

    tr {
        display: flex;
        justify-content: space-between;
        
        th {
            font-size: 12px;
            min-width: 5rem;
        }

        th, td {
            text-transform: capitalize;
            min-width: 5rem;
            text-align: left;
        }
    }

    .product-name {
        font-size: 1em;
    }
    
    .product-type {
        font-size: .875em;
    }

    .percentage-year {
        font-size: 1em;
    }

    .aum {
        font-size: .875em;
    }
}

.btn-primary-solid {
    border-radius: 5px;
    border: 1px solid $primary;
    background-color: $primary;
    color: #FFF;
    font-weight: bold;

    &:hover {
        background-color: darken($primary, 10%);
        color: #FFF;
    }
}

button.btn-primary-solid > a {
    text-decoration: none;
    color: #FFF;
}

.btn-primary-solid.btn-buy {
    width: 100%;
    display: block;
    font-size: .813em;
    text-transform: uppercase;
}

.btn-primary-outline {
    border-radius: 5px;
    border: 1px solid $primary;
    background-color: transparent;
    color: $primary;
    font-weight: bold;

    &:hover {
        background-color: darken(#FFF, 10%);
        color: $primary;
    }
}

.btn-primary-outline.btn-compare {
    width: 100%;
    display: block;
    font-size: .813em;
    text-transform: uppercase;
}

header {
    background-color: #FFF;
    padding: 1.5em 0;
    -webkit-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    z-index: 9999;

    a {
        color: $primary;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    a.logo {
        font-weight: bold;
        font-size: 1.2em;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em; 
                text-transform: uppercase;
                font-size: .75em;
                font-weight: bold;

                &:hover {
                    color: $primary;
                }
            }

            li.active a {
                color: $primary;
            }

            li.last-menu > a {
                color: #FFF;
                background: $primary;
                padding: .75em 1.5em;
                border-radius: 5px;
                font-weight: 600;
                margin-left: 10px;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

table {
    width: 100%;
}

.logo-wrapper {
    width: 45px;
    height: 45px;
    background-color: #F8F8F8;
    margin: 0 auto;
    position: relative;

    .img-mngr {
        max-width: 45px;
        max-height: 45px;
        position: absolute;
    }

}

.construction-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;

    img {
        height: 25rem;
    }

    h2 {
        font-weight: bold;
    }
}

.mobile-burger-menu {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: 'Montserrat', 'sans-serif';
}

footer {
    background: $primary;
    width: 100%;
    padding: 5rem 0rem 8.75rem 0rem;;
    color: #FFF;
}

.compare-wrapper {
    text-align: center;
    margin: 0 10px;
}

.compare-section {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    border-top: 2px solid $primary;
    background-color: #F8F8F8;
    -webkit-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 1px -3px 20px -5px rgba(0, 0, 0, 0.5);

    .compare-title {
        color: $secondary;
        font-size: 1em;
        font-weight: bold;
    }
}

.compare-item {
    border: 1px solid #E8E8E8;
    width: 250px;
    height: 100px;
    border-radius: 5px;
    background-color: #FFF;
    padding: .5rem;
    text-align: center;

    img {
        margin: 0 auto;
        width: 50px;
        display: block;
    }

    .title-product-compare {
        font-size: .75em;
        color: $black;
    }
}

.flx {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // justify-content: center;

    .desc {
        width: 30%;
        padding: 0px 10px;
        line-height: 27px;

        h2 {
            font-weight: bold;
            margin-bottom: 20px;
        }
    }

    .nav-footer {
        width: 15%;
        padding: 0px 10px;

        ul li p.footer-title {
            font-weight: bold;
        }

        ul li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        ul li a {
            text-transform: capitalize;
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: darken(#FFF, 10%);
            }
        }
    }

    .nav-footer-last {
        max-width: 40%;
        padding: 0px 10px;

        ul li p.footer-title {
            font-weight: bold;
        }

        ul li {
            list-style-type: none;
            margin-bottom: 20px;
        }

        ul li a {
            text-transform: capitalize;
            text-decoration: none;
            color: #FFF;

            &:hover {
                color: darken(#FFF, 10%);
            }
        }
    }
}

.display-lg {
    display: inherit;
}

.display-sm {
    display: none;
}

@media screen and (min-width: 1920px){
    .container {
        width: 75%;
    }

    .display-lg {
        display: inherit;
    }
    
    .display-sm {
        display: none;
    }
}

@media screen and (max-width: 1440px){
    .g-container {
        width: 90%;
    }
}

@media screen and (max-width: 1280px){
    .g-container {
        width: 90%;
    }
}

@media screen and (max-width: 768px){
    .g-container {
        width: 90%;
    }

    footer {
        margin-top: 2rem;
        padding: 5rem 0rem 2rem 0rem;

        .flx {
            display: block;

            .desc {
                width: 100%;
                text-align: center;
            }

            .nav-footer {
                width: 100%;
                text-align: center;
                margin-top: 15px;

                ul {
                    padding: 0;
                }
            }

            .nav-footer-last {
                width: 100%;
                display: inline;
                text-align: center;

                ul {
                    padding: 0;
                }
            }
        }
    }


    nav ul li a {
        display: none;
    }

    a.mobile-burger-menu {
        float: right;
        display: block;
        color: $primary;
        user-select: none;
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive nav ul li a {
        float: none;
        display: block;
        text-align: left;
    }

    .display-lg {
        display: none;
    }

    .display-sm {
        display: inherit;

        .img-wrap {
            padding: 2px;
            background-color: #F8F8F8;
            max-width: 50px;
            max-height: 50px;

            img {
                max-width: 40px;
                max-height: 40px;
            }
        }

        .product-name-sm {
            margin: 5px 0;
            font-size: .875em;
            color: $secondary;
            font-weight: 600;
            padding: 0 1rem;
            text-align: center;
        }

        .th-mobile {
            color: #B8BAC5;
            font-weight: 600;
            font-size: .875em;
            float: left;
        }

        .type-mobile {
            float: right;
            text-align: right;
            font-size: .875em;
            color: $secondary;
        }
    }

    .container {
        width: 80%;
    }
}
